body {
    background-color: #696969;
    font-family: 'Lobster', cursive;
    color: #FCF3CF;
    height: 100%;
    overflow-x: hidden;
}

h1 {
    font-size: 52px;
}

#div {
    border: 1px solid white;
}

.pad {
    width: 5%;
    padding-bottom: 5%;
    position: relative;
    animation-duration: 130ms;
    border: 1px outset #FCF3CF;
    margin-right: 1%;
}

.pad:hover {
    cursor: pointer;
}

#pads {
    margin-left: 14%;
    margin-right: 14%;
}

#pads .row {
    margin-bottom: 2%;
}

#github-icon {
    position: relative;
    float: right;
    max-height: 50px;
    width: auto;
    margin-top:2%;
}

.mic-image {
    position: absolute;
    max-width: 30%;
    max-height: 30%;
    bottom: 60%;
    left: 60%;
    z-index: 1;
    visibility: hidden;
    fill: #FCF3CF;
}

#instructions {
    margin-top: 3%;
}

#sequencer {
    margin-left: 30%;
    margin-right: 30%;
}

#sequencer .row {
    margin-top: 2%;
}

#sequencer .step {
    width: 2%;
    padding-bottom: 2%;

    position: relative;
    border: 1px dashed #FCF3CF;
    margin-right: 2%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

footer {
    opacity: 0.6;
}

/*
pad colors
*/
#row1 .pad {
    background-color: #52BE80;
}

#row2 .pad {
    background-color: #EC7063;
}

#row3 .pad {
    background-color: #BB8FCE;
}

#row4 .pad {
    background-color: #5499C7;
}

/*
Key positioning
*/

#row2 {
    position: relative;
    padding-left: 2%;
}

#row3 {
    position: relative;
    padding-left: 4%;
}

#row4 {
    position: relative;
    padding-left: 6%;
}

/*
Light up colors
*/
@keyframes light-up-1 {
    0% { background-color: #52BE80; }
    30% { background-color: #A9DFBF; }
    100% { background-color: #52BE80; }
}

@keyframes light-up-2 {
    0% { background-color: #EC7063; }
    30% { background-color: #F5B7B1; }
    100% { background-color: #EC7063; }
}

@keyframes light-up-3 {
    0% { background-color: #BB8FCE; }
    30% { background-color: #E8DAEF; }
    100% { background-color: #BB8FCE; }
}

@keyframes light-up-4 {
    0% { background-color: #5499C7; }
    30% { background-color: #A9CCE3; }
    100% { background-color: #5499C7; }
}